.container {
    height: 100vh;
    width: 100vw;
  
}
body::-webkit-scrollbar {
	display: none; 
}
input {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1vw;
    width: 100vw; 
    height: 5vh; 
    font-size: 3vh;
    font-family: LOTR;
    color: black;
}

#container1 {
    display: inline-flex;
    width: 100%;
    background-color: black;
}
#container2 {
    width: 100%;
}
#name {
    display: flex;

    justify-content: center;
    align-items: center;
    color: white;
    font-family: arial;

}

#img-holder {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black; 
}
#img {

height: 100%;
object-fit: cover;

}

@font-face { font-family: "HP"; src: url('../assets/HarryPotterFont/HP.TTF'); } 
@font-face { font-family: "LOTR"; src: url('../assets/LOTRfont/LOTR.TTF'); } 