.container {
    height: 200vh;
    width: 100vw;
  
}
body::-webkit-scrollbar {
	display: none; 
}
input {
    caret-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1vw;
    width: 98vw; 
    height: 5vh; 
    font-size: 3vh;
    font-family: LOTR;
    color: black;
    background-color: rgb(196, 195, 184);
}

#container1 {
    display: inline-flex;
    width: 100%;
    background-color: black;
}
#container2 {
    width: 100%;
    max-height: 30vh;
    
}


#logo1 {
    background-image: src('../../assets/Nixflix3D.png');
}
#name {
    display: flex;

    justify-content: center;
    align-items: center;
    color: white;
    font-family: arial;
    overflow: hidden;
}

#img-holder {

    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#img {

height: 23vh;
object-fit: cover;

}

@font-face { font-family: "HP"; src: url('../assets/HarryPotterFont/HP.TTF'); } 
@font-face { font-family: "LOTR"; src: url('../assets/LOTRfont/LOTR.TTF'); } 
@font-face { font-family: "LOTR2"; src: url('../assets/LOTRfont1/LOTR2.ttf'); } 
@font-face { font-family: "FB"; src: url('../assets/FantasticBeasts/FB.otf'); } 